<html>
  <head>
    <title>Video Streaming Demonstration</title>

	<!--<script type="text/javascript" src="jquery-1.7.1.min.js"></script> -->
	<script type="text/javascript" src="{{url_for('static', filename='jquery-1.7.1.min.js') }}"></script>

	
	<script>
	function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/updates",
                function(data) {
                   
                	$("#MeanDelay").text(data.MeanDelay)
                	$("#FailedTrackCount").text(data.FailedTrackCount)
                	$("#MaxPixelValue").text(data.MaxPixelValue)

                	$("#TrackVectorX").text(data.TrackVectorX)
                	$("#TrackVectorY").text(data.TrackVectorY)
                	$("#OrthogonalError").text(data.OrthogonalError)
                });
        }

        setInterval(update_values, 500);
	</script>
  </head>
  <body>
  
  <div style="width:100%">
  <div style='width:400px; float:left'>
	<form action="/changeSettings" method="post">
	            {{ camSettingsForm.csrf }}
	<div class="input text">
	        {{ camSettingsForm.speed.label }} {{ camSettingsForm.speed }}</div>

	<div class="input text">
	        {{ camSettingsForm.visual_gain.label }} {{ camSettingsForm.visual_gain }}</div>

	<div class="checkbox">
	        {{ camSettingsForm.save.label }} {{ camSettingsForm.save }} </div>
            
    <div class="checkbox">
			{{ camSettingsForm.overlay_tracking_history.label }} {{ camSettingsForm.overlay_tracking_history }} </div>

    <div class="checkbox">
			{{ camSettingsForm.subPixelFit.label }} {{ camSettingsForm.subPixelFit }} </div>
	        
	<div class="input submit">
	                <input type="submit" value="Update"></div>
	</form>

	
	<form action="/startRestartTracking" method="post">
			<div class="input submit">
				<input type="submit" value= "Start/Restart Tracking" ></div>
	</form>

	<form action="/stopTracking" method="post">
			<div class="input submit">
				<input type="submit" value= "Stop Tracking" ></div>
	</form>


	
	<form action="/enable_movement" method="post">
			<div class="input submit">
				<input type="submit" value= "Enable Movement" ></div>
	</form>

	<form action="/disable_movement" method="post">
			<div class="input submit">
				<input type="submit" value= "Disable Movement" ></div>
	</form>


	
	<form action="/start_following" method="post">
			<div class="input submit">
				<input type="submit" value= "Start Guiding" ></div>
	</form>

	<form action="/stop_following" method="post">
			<div class="input submit">
				<input type="submit" value= "Stop Guiding" ></div>
	</form>

	<div id="update_params">

		Mean Motor Delay(us): <span id="MeanDelay"></span> </br>
		Failed Tracking Count: <span id="FailedTrackCount"></span> </br>
		Max Pixel Value (raw): <span id="MaxPixelValue"></span></br>
		Track Vector X: <span id="TrackVectorX"></span></br>
		Track Vector Y: <span id="TrackVectorY"></span></br>
		Orthogonal Error: <span id="OrthogonalError"></span></br>

	</div>


  </div>
  <div style='margin-left:404px'>
    <img src="{{ url_for('subimg_video_feed') }}">
  </div>
</div>
  
  <div style="margin-top:10px; width:100%">
    <img src="{{ url_for('video_feed') }}">
</div>
  </body>
</html>
