<html>
  <head>
    <title>Video Streaming Demonstration</title>
  </head>
  <body>
  
  <form action="/changeSettings" method="post">
            {{ form.csrf }}
<div class="input text">
                {{ form.speed.label }} {{ form.speed }}</div>
<div class="checkbox">
        {{ form.save.label }} {{ form.save }} </div>
        
<div class="input submit">
                <input type="submit" value="Update"></div>
</form>
  
    <h1>Video Streaming Demonstration</h1>
    <img src="{{ url_for('video_feed') }}">
  </body>
</html>
