<html>
  <head>
    <title>Video Streaming Demonstration</title>

	<script type="text/javascript" src="{{url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='canvasjs.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='socket.io.js') }}"></script>

	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css') }}">

	<script type="text/javascript">
		$(document).ready(function(){
		    var socket = io.connect('http://' + document.domain + ':' + location.port + '/test');

		    simple_update_keys = ['STATUS_MAX_PIXEL_VALUE', 
		    	'STATUS_GUIDE_VECTOR_RA', 
		    	'STATUS_GUIDE_VECTOR_DEC', 
		    	'STATUS_CALIBRATION_DRIFT_ARC_SECONDS',
		    	'STATUS_FAILED_TRACKING_COUNT',
				'STATUS_PARALLEL_ERROR',
				'STATUS_ORTHOGONAL_ERROR',
				'STATUS_DRIFT_X',
				'STATUS_DRIFT_Y']

		    for (const key of simple_update_keys){
		    	socket.on(key, function(msg){
			    	$("#" + key).text(msg.value);
		    	});
		    }

		    socket.on('STATUS_GUIDING_STATUS', function(msg) {
				shiftX = parseFloat(msg.value.drift_x);
				shiftY = parseFloat(msg.value.drift_y);
				updateShiftChart(shiftX, shiftY);

				parallelErr = parseFloat(msg.value.parallel_error);
				orthogonalErr = parseFloat(msg.value.orthogonal_error);
				updateErrorChart(parallelErr, orthogonalErr);

				adjustmentRA = parseFloat(msg.value.raw_adjustment_ra);
				smoothAdjustmentRA = parseFloat(msg.value.filtered_adjustment_ra);
				adjustmentDEC = parseFloat(msg.value.raw_adjustment_dec);
				smoothAdjustmentDEC = parseFloat(msg.value.filtered_adjustment_dec);
				updateAdjustmentChart(adjustmentRA, smoothAdjustmentRA, adjustmentDEC, smoothAdjustmentDEC);
		    });

		    $("#startTrackingButton").change(function() {
		    	var newValue = $(this).is(':checked');
		    	if(newValue) {
			    	socket.emit("startTracking");
			    } else {
			    	socket.emit("stopTracking");
			    }
		    });

		    $("#enableMovementButton").change(function() {
		    	var newValue = $(this).is(':checked');
		    	if(newValue) {
			    	socket.emit("enable_movement");
			    } else {
			    	socket.emit("disable_movement");
			    }
		    });


		    $("#enableGuidingButton").change(function() {
		    	var newValue = $(this).is(':checked');
		    	if(newValue) {
			    	socket.emit("start_guiding");
			    } else {
			    	socket.emit("stop_guiding");
			    }
		    });

		    $("#shutterSpeedInput").change(function() {
		    	var newValue = $(this).val();
		    	socket.emit('set_shutter_speed', newValue);
		    });

		    $("#visualGainInput").change(function() {
		    	var newValue = $(this).val();
		    	socket.emit('set_visual_gain', newValue);
		    });

		});
	</script>

  </head>
  <body>
  
  <div style="width:100%">

<div>
<div>
	Declination
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/dec_back_start')" onmousedown="$.get($SCRIPT_ROOT + '/dec_back_start')" ontouchend="$.get($SCRIPT_ROOT + '/dec_back_stop')" onmouseup="$.get($SCRIPT_ROOT + '/dec_back_stop')">Back</button>
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/dec_forward_start')" onmousedown="$.get($SCRIPT_ROOT + '/dec_forward_start')" ontouchend="$.get($SCRIPT_ROOT + '/dec_forward_stop')" onmouseup="$.get($SCRIPT_ROOT + '/dec_forward_stop')">Forward</button>
</div>
<div>
	RA
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/ra_back_start')" onmousedown="$.get($SCRIPT_ROOT + '/ra_back_start')" ontouchend="$.get($SCRIPT_ROOT + '/dec_back_stop')" onmouseup="$.get($SCRIPT_ROOT + '/ra_back_stop')">Back</button>
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/ra_forward_start')" onmousedown="$.get($SCRIPT_ROOT + '/ra_forward_start')" ontouchend="$.get($SCRIPT_ROOT + '/ra_forward_end')" onmouseup="$.get($SCRIPT_ROOT + '/ra_forward_stop')">Forward</button>
</div>
</div>

	<div>
		Shutter Speed: <input id="shutterSpeedInput" type="number" value="200"/>
	</div>

	<div>
		Visual Gain: <input id="visualGainInput" type="number" value="10"/>
	</div>

  <div style='width:400px; float:left'>
	<div>
		<span>Tracking </span>
		<label class="switch" >
		  <input type="checkbox" id="startTrackingButton">
		  <span class="slider round"></span>
		</label>
	</div>

	<div>
		<span>Movement </span>
		<label class="switch" >
		  <input type="checkbox" id="enableMovementButton" checked=true>
		  <span class="slider round"></span>
		</label>
	</div>

	<div>
		<span>Guiding </span>
		<label class="switch" >
		  <input type="checkbox" id="enableGuidingButton">
		  <span class="slider round"></span>
		</label>
	</div>

	<div id="update_params">
		Failed Tracking Count: <span id="STATUS_FAILED_TRACKING_COUNT"></span> </br>
		Max Pixel Value (raw): <span id="STATUS_MAX_PIXEL_VALUE"></span></br>
		Guide Vector RA: <span id="STATUS_GUIDE_VECTOR_RA"></span></br>
		Orthogonal Guide Vector DEC: <span id="STATUS_GUIDE_VECTOR_DEC"></span></br>
		Calibration Orth Drift (arc-s/s): <span id="STATUS_CALIBRATION_DRIFT_ARC_SECONDS"></span></br>
		Started Tracking Position: <span id="STATUS_STARTING_TRACKING_POSITION"></span></br>
		Current Tracking Position: <span id="STATUS_CURRENT_TRACKING_POSITION"></span></br>
		Orthogonal Error: <span id="STATUS_ORTHOGONAL_ERROR"></span></br>
		Parallel Tracking Error: <span id="STATUS_PARALLEL_ERROR"></span></br>
	</div>

	<div id="NewLogs" style="height:300px;width:400px;overflow:auto;">Logs</div>
	<div id="ErrorLogs" style="height:300px;width:400px;overflow:auto;color:red">Errors</div>
  </div>

  <div style='margin-left:404px'>
    <img src="{{ url_for('subimg_video_feed') }}">
  </div>
 
  <div style="margin-top:10px; width:100%">
    <img src="{{ url_for('video_feed') }}">
</div>

<div id="errorChartContainer" style="height: 370px; width:700px;"></div>
<div id="shiftChartContainer" style="height: 370px; width:700px;"></div>
<div id="adjustmentChartContainer" style="height: 370px; width:700px;"></div>
<script type="text/javascript">
	var dataLength = 500; // number of dataPoints visible at any point

	var dpsParallel = [];
	var dpsOrthogonal = [];

	var errorChart = new CanvasJS.Chart("errorChartContainer", {
		title :{
			text: "Errors"
		},
		axisY: {
			includeZero: true
		},      
		data: [{
			type: "line",
			showInLegend : true,
			legendText : "Parallel",
			dataPoints: dpsParallel
		}, {
			type: "line",
			showInLegend : true,
			legendText : "Orthogonal",
			dataPoints: dpsOrthogonal
		}]
	});

	var tError = 0;
	var updateErrorChart = function (parallel, orthogonal) {
		dpsParallel.push({x:tError, y:parallel});
		dpsOrthogonal.push({x:tError, y:orthogonal});
		tError++;

		if (dpsParallel.length > dataLength) {
			dpsParallel.shift();
		}

		if (dpsOrthogonal.length > dataLength) {
			dpsOrthogonal.shift();
		}

		errorChart.render();
	};



	var dpsShiftX = [];
	var dpsShiftY = [];

	var shiftChart = new CanvasJS.Chart("shiftChartContainer", {
		title :{
			text: "Shifts"
		},
		axisY: [{
			title : "X", 
			includeZero: false
		}, {
			title : "Y", 
			includeZero: false
		}
		],      
		data: [{
			type: "line",
			axisYIndex : 0, 
			showInLegend : true,
			legendText : "X",
			dataPoints: dpsShiftX
		}, {
			type: "line",
			axisYIndex : 1, 
			showInLegend : true,
			legendText : "Y",
			dataPoints: dpsShiftY
		}]
	});

	var tShift = 0;
	var updateShiftChart = function (shiftX, shiftY) {

		dpsShiftX.push({x:tShift, y:shiftX});
		dpsShiftY.push({x:tShift, y:shiftY});
		tShift++;

		if (dpsShiftX.length > dataLength) {
			dpsShiftX.shift();
		}

		if (dpsShiftY.length > dataLength) {
			dpsShiftY.shift();
		}

		shiftChart.render();
	};


	var dpsAdjustmentRA = [];
	var dpsSmoothedAdjustmentRA = [];
	var dpsAdjustmentDec = [];
	var dpsSmoothedAdjustmentDec = [];

	var adjustmentChart = new CanvasJS.Chart("adjustmentChartContainer", {
		title :{
			text: "Adjustments"
		},
		axisY: [{
			title : "Factor", 
			includeZero: false
		}
		],      
		data: [{
			type: "line", 
			showInLegend : true,
			legendText : "Adjustment RA",
			dataPoints: dpsAdjustmentRA
		}, {
			type: "line",
			showInLegend : true,
			legendText : "Smoothed RA",
			dataPoints: dpsSmoothedAdjustmentRA
		}, {
			type: "line",
			showInLegend : true,
			legendText : "Declination",
			dataPoints: dpsAdjustmentDec
		}, {
			type: "line",
			showInLegend : true,
			legendText : "Smoothed Declination",
			dataPoints: dpsSmoothedAdjustmentDec
		}]
	});

	var tAdjustment = 0;
	var updateAdjustmentChart = function (adjustmentRA, smoothedAdjustmentRA, adjustmentDec, smoothedAdjustmentDec) {

		dpsAdjustmentRA.push({x:tAdjustment, y:adjustmentRA});
		dpsSmoothedAdjustmentRA.push({x:tAdjustment, y:smoothedAdjustmentRA});
		dpsAdjustmentDec.push({x:tAdjustment, y:adjustmentDec})
		dpsSmoothedAdjustmentDec.push({x:tAdjustment, y:smoothedAdjustmentDec})
		tAdjustment++;

		if (dpsAdjustmentRA.length > dataLength) {
			dpsAdjustmentRA.shift();
			dpsSmoothedAdjustmentRA.shift();
			dpsAdjustmentDec.shift();
			dpsSmoothedAdjustmentDec.shift();
		}

		adjustmentChart.render();
	};
</script>

  </body>
</html>
