<html>
  <head>
    <title>Video Streaming Demonstration</title>

	<script type="text/javascript" src="{{url_for('static', filename='jquery-1.7.1.min.js') }}"></script>
	<script type="text/javascript" src="{{url_for('static', filename='canvasjs.min.js') }}"></script>

	<style>

		.button {
		  border: none;
		  color: white;
		  padding: 15px 32px;
		  text-align: center;
		  text-decoration: none;
		  display: inline-block;
		  margin: 4px 2px;
		  cursor: pointer;
		  font-size: 20px;
		  background-color:gray;
		}

		.button:focus{
			background-color:gray;
		}
		.button:active{
			background-color:red;
		}
	</style>

	<script>


		window.onload = function () {


		previousErrorUpdateTime = "";
		previousShiftUpdateTime = "";
		previousAdjustmentUpdateTime = "";

		function update_values() {
	        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/updates",
                function(data) {
                   
                	$("#MeanAdjustment").text(data.MeanAdjustment)
                	$("#FailedTrackCount").text(data.FailedTrackCount)
                	$("#MaxPixelValue").text(data.MaxPixelValue)

                	$("#GuideVectorRA").text(data.GuideVectorRA)
                	$("#OrthVectorDec").text(data.GuideVectorDec)

                	$("#CalibrationDrift").text(data.CalibrationDrift)

                	$("#StartedPosition").text(data.StartedPosition)
                	$("#CurrentPosition").text(data.CurrentPosition)
 
                	$("#ParallelError").text(data.ParallelError)
                	$("#OrthogonalError").text(data.OrthogonalError)
                	$("#NewLogs").append(data.NewLogs) 
                	$("#ErrorLogs").append(data.ErrorLogs) 

                	elem = document.getElementById('NewLogs')
				    elem.scrollTop = elem.scrollHeight;


				    shiftUpdateTime = data.ShiftUpdateTime
				    if(data.ShiftX != "None") {
				    	if(previousShiftUpdateTime != shiftUpdateTime) {
				    		shiftX = parseFloat(data.ShiftX);
				    		shiftY = parseFloat(data.ShiftY);
				    		updateShiftChart(shiftX, shiftY);
				    		previousShiftUpdateTime = shiftUpdateTime;
				    	}
				    }


				    errorUpdateTime = data.ErrorUpdateTime
				    if(data.ParallelError != "None") {
				    	if(previousErrorUpdateTime != errorUpdateTime) {
				    		parErr = parseFloat(data.ParallelError);
				    		orthErr = parseFloat(data.OrthogonalError);
				    		updateErrorChart(parErr, orthErr);
				    		previousErrorUpdateTime = errorUpdateTime;
				    	}
				    }


				    adjustmentUpdateTime = data.AdjustmentUpdateTime
				    if(data.CurrentAdjustment != "None") {
				    	if(previousAdjustmentUpdateTime != adjustmentUpdateTime) {
				    		adjustment = parseFloat(data.CurrentAdjustment);
				    		smoothedAdjustment = parseFloat(data.SmoothedAdjustment);
				    		adjustmentDec = parseFloat(data.AdjustmentDec)
				    		updateAdjustmentChart(adjustment, smoothedAdjustment, adjustmentDec);
				    		previousAdjustmentUpdateTime = adjustmentUpdateTime;
				    	}
				    }

                });
        }


		var dataLength = 500; // number of dataPoints visible at any point

		var dpsParallel = [];
		var dpsOrthogonal = [];

		var errorChart = new CanvasJS.Chart("errorChartContainer", {
			title :{
				text: "Errors"
			},
			axisY: {
				includeZero: true
			},      
			data: [{
				type: "line",
				showInLegend : true,
				legendText : "Parallel",
				dataPoints: dpsParallel
			}, {
				type: "line",
				showInLegend : true,
				legendText : "Orthogonal",
				dataPoints: dpsOrthogonal
			}]
		});

		var tError = 0;
		var updateErrorChart = function (parallel, orthogonal) {
			dpsParallel.push({x:tError, y:parallel});
			dpsOrthogonal.push({x:tError, y:orthogonal});
			tError++;

			if (dpsParallel.length > dataLength) {
				dpsParallel.shift();
			}

			if (dpsOrthogonal.length > dataLength) {
				dpsOrthogonal.shift();
			}

			errorChart.render();
		};



		var dpsShiftX = [];
		var dpsShiftY = [];

		var shiftChart = new CanvasJS.Chart("shiftChartContainer", {
			title :{
				text: "Shifts"
			},
			axisY: [{
				title : "X", 
				includeZero: false
			}, {
				title : "Y", 
				includeZero: false
			}
			],      
			data: [{
				type: "line",
				axisYIndex : 0, 
				showInLegend : true,
				legendText : "X",
				dataPoints: dpsShiftX
			}, {
				type: "line",
				axisYIndex : 1, 
				showInLegend : true,
				legendText : "Y",
				dataPoints: dpsShiftY
			}]
		});

		var tShift = 0;
		var updateShiftChart = function (shiftX, shiftY) {

			dpsShiftX.push({x:tShift, y:shiftX});
			dpsShiftY.push({x:tShift, y:shiftY});
			tShift++;

			if (dpsShiftX.length > dataLength) {
				dpsShiftX.shift();
			}

			if (dpsShiftY.length > dataLength) {
				dpsShiftY.shift();
			}

			shiftChart.render();
		};


		var dpsAdjustment = [];
		var dpsSmoothedAdjustment = [];
		var dpsAdjustmentDec = [];

		var adjustmentChart = new CanvasJS.Chart("adjustmentChartContainer", {
			title :{
				text: "Adjustments"
			},
			axisY: [{
				title : "Factor", 
				includeZero: false
			}
			],      
			data: [{
				type: "line", 
				showInLegend : true,
				legendText : "Adjustment RA",
				dataPoints: dpsAdjustment
			}, {
				type: "line",
				showInLegend : true,
				legendText : "Smoothed RA",
				dataPoints: dpsSmoothedAdjustment
			}, {
				type: "line",
				showInLegend : true,
				legendText : "Declination",
				dataPoints: dpsAdjustmentDec
			}]
		});

		var tAdjustment = 0;
		var updateAdjustmentChart = function (adjustment, smoothedAdjustment, adjustmentDec) {

			dpsAdjustment.push({x:tAdjustment, y:adjustment});
			dpsSmoothedAdjustment.push({x:tAdjustment, y:smoothedAdjustment});
			dpsAdjustmentDec.push({x:tAdjustment, y:adjustmentDec})
			tAdjustment++;

			if (dpsAdjustment.length > dataLength) {
				dpsAdjustment.shift();
				dpsSmoothedAdjustment.shift();
				dpsAdjustmentDec.shift();
			}

			adjustmentChart.render();
		};

        setInterval(update_values, 1000);
		}




		function httpGetAsync(theUrl, callback)
		{
		    var xmlHttp = new XMLHttpRequest();
		    xmlHttp.onreadystatechange = function() { 
		        if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
		            callback(xmlHttp.responseText);
		    }
		    xmlHttp.open("GET", theUrl, true); // true for asynchronous 
		    xmlHttp.send(null);
		}


	</script>
  </head>
  <body>
  
  <div style="width:100%">

<div>
<div>
	Declination
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/dec_back_start')" onmousedown="$.get($SCRIPT_ROOT + '/dec_back_start')" ontouchend="$.get($SCRIPT_ROOT + '/dec_back_stop')" onmouseup="$.get($SCRIPT_ROOT + '/dec_back_stop')">Back</button>
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/dec_forward_start')" onmousedown="$.get($SCRIPT_ROOT + '/dec_forward_start')" ontouchend="$.get($SCRIPT_ROOT + '/dec_forward_stop')" onmouseup="$.get($SCRIPT_ROOT + '/dec_forward_stop')">Forward</button>
</div>
<div>
	RA
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/ra_back_start')" onmousedown="$.get($SCRIPT_ROOT + '/ra_back_start')" ontouchend="$.get($SCRIPT_ROOT + '/dec_back_stop')" onmouseup="$.get($SCRIPT_ROOT + '/ra_back_stop')">Back</button>
	<button type="button" class="button" ontouchstart="$.get($SCRIPT_ROOT + '/ra_forward_start')" onmousedown="$.get($SCRIPT_ROOT + '/ra_forward_start')" ontouchend="$.get($SCRIPT_ROOT + '/ra_forward_end')" onmouseup="$.get($SCRIPT_ROOT + '/ra_forward_stop')">Forward</button>
</div>
</div>

  <div style='width:400px; float:left'>
	<form action="/changeSettings" method="post">
	            {{ camSettingsForm.csrf }}
	<div class="input text">
	        {{ camSettingsForm.speed.label }} {{ camSettingsForm.speed }}</div>

	<div class="input text">
	        {{ camSettingsForm.visual_gain.label }} {{ camSettingsForm.visual_gain }}</div>

	<div class="checkbox">
	        {{ camSettingsForm.save.label }} {{ camSettingsForm.save }} </div>
            
    <div class="checkbox">
			{{ camSettingsForm.overlay_tracking_history.label }} {{ camSettingsForm.overlay_tracking_history }} </div>

    <div class="checkbox">
			{{ camSettingsForm.subPixelFit.label }} {{ camSettingsForm.subPixelFit }} </div>
	        
	<div class="input text">
			{{ camSettingsForm.ema_factor.label }} {{ camSettingsForm.ema_factor }} </div>

	<div class="input submit">
	                <input type="submit" value="Update"></div>
	</form>

	
	<form action="/startRestartTracking" method="post">
			<div class="input submit">
				<input type="submit" value= "Start/Restart Tracking" ></div>
	</form>

	<form action="/stopTracking" method="post">
			<div class="input submit">
				<input type="submit" value= "Stop Tracking" ></div>
	</form>


	
	<form action="/enable_movement" method="post">
			<div class="input submit">
				<input type="submit" value= "Enable Movement" ></div>
	</form>

	<form action="/disable_movement" method="post">
			<div class="input submit">
				<input type="submit" value= "Disable Movement" ></div>
	</form>


	
	<form action="/start_following" method="post">
			<div class="input submit">
				<input type="submit" value= "Start Guiding" ></div>
	</form>

	<form action="/stop_following" method="post">
			<div class="input submit">
				<input type="submit" value= "Stop Guiding" ></div>
	</form>

	<div id="update_params">

		Mean Adjustment Factor: <span id="MeanAdjustment"></span> </br>
		Failed Tracking Count: <span id="FailedTrackCount"></span> </br>
		Max Pixel Value (raw): <span id="MaxPixelValue"></span></br>
		Guide Vector RA: <span id="GuideVectorRA"></span></br>
		Orthogonal Guide Vector DEC: <span id="OrthVectorDec"></span></br>
		Calibration Orth Drift (arc-s/s): <span id="CalibrationDrift"></span></br>
		Started Tracking Position: <span id="StartedPosition"></span></br>
		Current Tracking Position: <span id="CurrentPosition"></span></br>
		Orthogonal Error: <span id="OrthogonalError"></span></br>
		Parallel Tracking Error: <span id="ParallelError"></span></br>

	</div>

	<div id="NewLogs" style="height:300px;width:400px;overflow:auto;">Logs</div>
	<div id="ErrorLogs" style="height:300px;width:400px;overflow:auto;color:red">Errors</div>


  </div>
  <div style='margin-left:404px'>
    <img src="{{ url_for('subimg_video_feed') }}">
  </div>
</div>
  
  <div style="margin-top:10px; width:100%">
    <img src="{{ url_for('video_feed') }}">
</div>

<div id="errorChartContainer" style="height: 370px; width:700px;"></div>
<div id="shiftChartContainer" style="height: 370px; width:700px;"></div>
<div id="adjustmentChartContainer" style="height: 370px; width:700px;"></div>
	

  </body>
</html>
