[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pigpio = "*"
rpio = "*"
picamera = "*"
numpy = "*"
opencv-contrib-python = "==4.1.1.26"
redis = "*"
scipy = "*"
gpiozero = "*"
spidev = "*"
flask = "*"
astropy = "*"
flask-socketio = "*"
wtforms = "*"

[requires]
python_version = "3.7"
