-i https://pypi.org/simple/
astropy==4.0.1.post1
bidict==0.21.2
click==7.1.2
colorzero==2.0
flask-socketio==4.3.0
flask==1.1.2
gpiozero==1.5.1
itsdangerous==1.1.0
jinja2==2.11.3
markupsafe==1.1.1
numpy==1.18.4
opencv-contrib-python==4.1.0.25
picamera==1.13
pigpio==1.46
python-engineio==4.0.1
python-socketio==5.1.0
redis==3.5.1
rpio==0.10.0
scipy==1.4.1
spidev==3.4
werkzeug==1.0.1
wtforms==2.3.1
